name: Build Debos and run tests
on: [pull_request, push]

jobs:
  build-test:
    name: Build Debos and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v3

      - name: Build container
        run: |
          docker build -f docker/Dockerfile -t godebos/debos .

      - name: Run unit tests
        run: |
          docker-compose -f docker/unit-tests.test.yml \
            up --build --exit-code-from=sut

      - name: Run test recipes on host
        run: |
          docker-compose -f docker/recipes.test.yml \
            up --build --exit-code-from=sut

      - name: Run test recipes using UML backend
        run: |
          docker-compose -f docker/recipes-test-uml.yml \
            up --build --exit-code-from=sut
